<?xml version="1.0" encoding="UTF-8"?>
<!-- spring MVC的配置 author:ChenLiang E-mail:burningcl@gmail.com -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		" default-autowire="byName">

	<!-- Spring MVC所扫描的路径 -->
	<context:component-scan base-package="fire.controller">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- Configures the @Controller programming model -->
	<mvc:annotation-driven />

	<!-- JSP views,前缀为/view/,后缀为.jsp，所有大家在Controller中不需要写前缀与后缀，表现层，我们一致使用jsp -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
		<property name="contentType">
			<value>text/html;charset=UTF-8</value>
		</property>
	</bean>
	<mvc:interceptors>
		<bean class="fire.interceptor.LoginAnnotationInterceptor"></bean>
		<bean class="fire.interceptor.AuthorityAnnotationInterceptor"></bean>
	</mvc:interceptors>
</beans>